{
  "extends": [
    "airbnb",
    "react-app",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ],
    "import/extensions": [
      "error",
      {
        "extensions": [".ts", ".js"]
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": "warn",
    "react/prop-types": "off",
    "camelcase": "off",
    "import/named": "off"
  }
}
