{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/all",
    "plugin:testing-library/react",
    "plugin:import/typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "ignorePatterns": ["next-env.d.ts", "src/graphql/__generated__"],
  "rules": {
    "import/extensions": [
      "error",
      {
        "extensions": [".ts", ".js"]
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "camelcase": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "jest/prefer-expect-assertions": "off"
  }
}
