{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    [
      "import",
      {
        "libraryName": "@apollo/client",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "client"
    ],
    [
      "import",
      {
        "libraryName": "react",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "react"
    ],
    "@emotion",
    "macros"
  ]
}
