{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:jest/all",
    "plugin:testing-library/react",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "jest/prefer-expect-assertions": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
