{
  "extends": [
    "airbnb-base",
    "plugin:jest/all",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "ignorePatterns": ["src/graphql/__generated__"],
  "rules": {
    "import/extensions": ["error", { "extensions": [".ts", ".js"] }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/camelcase": "off",
    "jest/prefer-expect-assertions": "off"
  }
}
